
# Peppy-specific files
.peppy

# Rust
**/target/
*.swp
*.bak
*.orig

# Python
__pycache__/

# Editor-specific files
.vscode/
.idea/

# Operating System files
**/.DS_Store
**/.Thumbs.db

# Logs
*.log

# Local git worktrees
.worktrees/
